.character-modal {
  color: black;
  h3 {
    font-size: 2rem;
    margin: 0.5rem 0;
    font-family: 'Oswald';
  }
}

.char-description {
  font-style: italic;
}

.char-info {
  display: flex;
  justify-content: space-between;
  p {
    margin-left: 1rem;
  }
}

.char-links {
  padding: 0;
  list-style: none;
  a {
    &:hover {
      color: red;
    }
  }
}
