footer {
  display: flex;
  // justify-content: center;
  flex-direction: column;
  align-items: center;
}

.scroll-top {
  text-decoration: none;
  color: silver;
  background: $colour_red;
  border-radius: 2rem;
  font-size: 3rem;
  width: 65px;
  text-align: center;
}

#copy {
  color: white;
  text-decoration: none;
  &:visited {
    color: white;
  }

}
