.form-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-input-form {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  flex-wrap: wrap;
}

.search-submit, .search-input {
  // border-radius: 0.9rem;
  padding: 0.25rem 0.5rem;
  outline: none;
}

.search-input {
  width: 200px;
  color: black;
  margin: 0 1rem;
  &::placeholder {
    color: black;
  }
}

.search-submit {
  color: white;
  background: $colour_red;
  border: none;
  text-transform: uppercase;
  font-family: 'Oswald';
  font-weight: bold;
  &:hover {
    opacity: 0.5;
    border: 1px  solid white;
  };
  &:focus {
    box-shadow: inset 0 0 10px #000000;
  }
}
