body {
  background: black;
  color: white;
}

ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

li {
  display: flex;
  flex: 1 0 40%;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  border: 1px solid white;
  margin: 0.5rem;
  &:hover {
    opacity: 0.8;
    border-color: red;
  }
}

img {
  width: 100px;
}
